$mobile-width: 600px;
$tablet-width: 1024px;

$header-height: 80px;
$header-shrink-height: 50px;

$black-color: #111111;
$white-color: #fff;
$primary-color: #eca045;
$bg-main: #101a28;
$login-color: #152430;
$border-color: #284148;
$border-second-color: #695034;
$focus-color: #2c939a;
$text-color: #346371;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
