.footer-item {
    padding: 1.5rem 0;
    text-align: start;
    text-transform: none;
    margin: 0 1.3rem;

    &__heading {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        width: auto;
        text-transform: uppercase;
    }

    &__menu {
        font-size: 1.4rem;
        color: $text-color;
        margin: 1rem 0;
        li {
            margin-bottom: 0.5rem;

            &.icon {
                font-size: 4rem;
                transition: color 0.3s linear;

                &:hover {
                    color: $white-color;
                }
            }
        }

        &.row {
            display: flex;

            li {
                margin-right: 1.5rem;
            }
        }
    }

    &__letter {
        max-width: 45rem;
        margin: 1rem 0;

        p {
            color: $text-color;
            margin: 1rem 0;
        }

        &__input {
            position: relative;

            input {
                width: 100%;
                background-color: transparent;
                outline: none;
                border: 1px solid $border-color;
                padding: 0.8rem 14rem 0.8rem 1.5rem;
                font-size: 1.6rem;
                line-height: 1.6;
                color: $focus-color;
                border-radius: 2px;
                transition: border-color 0.2s linear;

                &:focus {
                    border-color: $focus-color;
                }
            }

            &__btn {
                position: absolute;
                right: 0.4rem;
                top: 50%;
                transform: translateY(-50%);
                min-width: 10rem;
                font-size: 1.4rem;
                line-height: 1.8;
                color: $white-color;
                background-color: $primary-color;
                padding: 0.3rem 2.7rem;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                z-index: 99;
                transition: background-color 0.2s linear;

                &:hover {
                    background-color: $focus-color;
                }
            }
        }
    }
}
